ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
  }

li {
    margin: 15px 0;
}

nav ul{height:500px;}
nav ul{overflow:hidden; overflow-y:scroll;}
body {
  background-color: black;
  color: white;
}